#title{
    display: flex;
    align-items: center;
}
#dropdownlang{
    display: flex;
    justify-content: right;
}
body {
    overflow-x: hidden;
}
.project-button {
    transition: transform 0.2s ease;
}

.project-button:hover {
    transform: scale(1.15);
}
.info-divs {
    transition: transform 0.2s ease;
}

.info-divs:hover {
    transform: scale(1.03);
}